<section class="hero is-fullheight">
    <div class="hero-body" fxLayout="column" fxLayoutAlign="center center">

        <div class="login has-text-centered p-4">
            <img src="/assets/icons/icon-96x96.png" style="border-radius: 50%;" width="auto" height="96px" />

            <form [formGroup]="this.formReset" class="mt-4">

                <h1 class="title is-3">Need help with your password?</h1>

                <ng-container *ngIf="!this.hasSentEmail else hasSent">

                    <p>
                        Enter the email you use for the Consumption Tracker, and we’ll help you create a new password.
                    </p>

                    <div *ngIf="this.error" class="notification is-danger is-light mt-4">
                        <span class="is-size-7">{{ this.error }}</span>
                    </div>

                    <div class="field mt-4">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" (change)="this.clearControlErrors('email')"
                                [ngClass]="{'is-danger': this.controlHasError('email') }" type="email"
                                formControlName="email" name="email" placeholder="Email" autocomplete="username"
                                required />
                            <span class="icon is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span *ngIf="this.controlHasError('email')" class="icon is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p *ngIf="this.controlHasError('email') && this.formReset.get('email').hasError('required')"
                            class="help is-danger has-text-left">Oops! Email is required</p>
                        <p *ngIf="this.controlHasError('email') && this.formReset.get('email').hasError('invalid')"
                            class="help is-danger has-text-left">Oops! Email is invalid</p>
                        <p *ngIf="this.controlHasError('email') && this.formReset.get('email').hasError('notFound')"
                            class="help is-danger has-text-left">Oops! No account found</p>
                    </div>

                    <button (click)="this.onSendReset()" class="button is-block is-fullwidth is-link mt-4"
                        [ngClass]="{'is-loading': this.isLoading}" type="button">
                        Send email
                    </button>
                </ng-container>

                <ng-template #hasSent>
                    <div class="notification is-success is-light mt-4">
                        <span class="is-size-6">
                            The reset link has been emailed to <strong>{{ this.formReset.get('email').value }}</strong>.
                        </span>
                    </div>
                </ng-template>

                <div class="mt-4">
                    <a class="is-size-6" [routerLink]="['/sign-in']">Return to sign in</a>
                </div>

            </form>

        </div>
    </div>
</section>