<section class="hero is-fullheight">
  <div class="hero-body" fxLayout="column" fxLayoutAlign="center center">

    <div class="login card has-text-centered p-4">

      <img src="/assets/icons/icon-96x96.png" style="border-radius: 50%;" width="auto" height="96px" />

      <form [formGroup]="this.formLogin" class="mt-4">

        <div *ngIf="this.error" class="notification is-danger is-light mt-4">
          <span class="is-size-7">{{ this.error }}</span>
        </div>

        <div class="field">
          <!-- <label class="label">Email</label> -->
          <div class="control has-icons-left has-icons-right">
            <input class="input" (change)="this.clearControlErrors('email')"
              [ngClass]="{'is-danger': this.controlHasError('email') }" type="email" formControlName="email"
              name="email" placeholder="Email" autocomplete="username" required />
            <span class="icon is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span *ngIf="this.controlHasError('email')" class="icon is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p *ngIf="this.controlHasError('email') && this.formLogin.get('email').hasError('required')"
            class="help is-danger has-text-left">Oops! Email is required</p>
          <p *ngIf="this.controlHasError('email') && this.formLogin.get('email').hasError('invalid')"
            class="help is-danger has-text-left">Oops! Email is invalid</p>
          <p *ngIf="this.controlHasError('email') && this.formLogin.get('email').hasError('notFound')"
            class="help is-danger has-text-left">Oops! No account found</p>
        </div>

        <div class="field">
          <!-- <label class="label">Password</label> -->
          <div class="control has-icons-left has-icons-right">
            <input class="input" (change)="this.clearControlErrors('password')"
              [ngClass]="{'is-danger': this.controlHasError('password') }" type="password" formControlName="password"
              name="password" placeholder="Password" autocomplete="new-password" required />
            <span class="icon is-left">
              <i class="fas fa-key"></i>
            </span>
            <span *ngIf="this.controlHasError('password')" class="icon is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p *ngIf="this.controlHasError('password') && this.formLogin.get('password').hasError('required')"
            class="help is-danger has-text-left">Oops! Password is required</p>
          <p *ngIf="this.controlHasError('password') && this.formLogin.get('password').hasError('invalid')"
            class="help is-danger has-text-left">Oops! Password is invalid</p>
        </div>

        <div class="has-text-left mt-4">
          <a class="is-size-6" [routerLink]="['/forgot-password']">Forgot password?</a>
        </div>

        <button (click)="this.onSignIn()" class="button is-block is-fullwidth is-link mt-2"
          [ngClass]="{'is-loading': this.isLoading}" type="button">
          Sign in
        </button>

        <div class="separator"><span>or</span></div>

        <button [routerLink]="['/get-started']" class="button is-block is-fullwidth" type="button">
          Create account
        </button>

      </form>

    </div>
  </div>
</section>