<nav class="navbar is-link">

    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="/assets/icons/icon-72x72.png" width="auto" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']">
            Summary
          </a>
          <a class="navbar-item" [routerLink]="['/consumptions']" [routerLinkActive]="['is-active']">
            Consumptions
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-link" [routerLink]="['/profile']">
                  <img class="avatar" [src]="this.authUser.attributes.avatar">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Floating button -->
<button class="fab-button button is-link" (click)="this.onAddConsumption()">
  <span class="icon">
    <i class="fas fa-glass-whiskey fa-2x"></i>
  </span>
</button>