<div mat-dialog-header class="dialog-header" fxLayout="row" fxLayoutAlign="flex-start center">

    <h1 fxFlex class="title is-4">Upload image</h1>

    <button class="button is-link is-inverted is-normal" (click)="this.onClose()" matTooltip="Close">
        <span class="icon is-small">
            <i class="fas fa-times"></i>
        </span>
    </button>

</div>

<mat-dialog-content class="dialog-content mt-4 mb-4" fxLayout="column" fxLayoutAlign="center center">

    <input #fileSelect class="force-hidden" [(ngModel)]="this.selectedFile" type="file" accept="image/*"
        (change)="this.fileChangeEvent($event)" />

    <ng-container *ngIf="!this.newImage">

        <div dndDropzone class="drop-zone" [ngClass]="this.dropConfig.hasBaseDropZoneOver ? 'drop-zone-active' : ''"
            (click)="fileSelect.click()" (fileOver)="this.dropConfig.hasBaseDropZoneOver=$event"
            [dndAllowExternal]="true" (dndDrop)="this.onFileDrop($event)" fxLayoutAlign="center center">
            <span>Drop file here or click to upload (up to 2MB)</span>
        </div>

    </ng-container>
    <ng-container *ngIf="this.newImage">
        <image-cropper [roundCropper]="true" [imageBase64]="this.newImage" [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1" format="png" (imageCropped)="this.imageCropped($event)"></image-cropper>
    </ng-container>

</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
    <button *ngIf="this.newImage" [ngClass]="{'is-loading' : this.isLoading }"
        [disabled]="!this.newImage || this.isLoading" class="button is-link mb-2" (click)="this.onClose()">Upload
        image</button>
</mat-dialog-actions>