<!-- <section class="section">
    <h1 class="title">Hi, {{ this.authUser.first_name || '' }}</h1>
    <h2 class="subtitle">
        Here's your consumption summary for the last <strong>10 days</strong>.
    </h2>
</section> -->

<section class="hero has-background-light">

    <section fxLayout="column" class="summary-container container hero-body">

        <section fxLayout="column" fxLayout.gt-sm="row" class="mb-4">

            <!-- Total display -->
            <section fxFlex.gt-sm="25%" fxLayout="column" class="category-item pl-4 pr-4 mb-4">
                <span class="is-uppercase has-text-weight-medium">Total consumption</span>
                <section fxLayout="row">
                    <span class="icon m-2 has-text-link">
                        <i class="fas fa-tint fa-2x"></i>
                    </span>
                    <section fxLayout="column" class="pt-2">
                        <span class="is-size-4">{{ this.summary.total }}</span>
                    </section>
                </section>
            </section>

            <ng-container *ngFor="let category of this.summary.categories">

                <div fxFlex.gt-sm="25%" fxLayout="column" class="category-item pl-4 pr-4 mb-4">

                    <span class="is-uppercase has-text-weight-medium">{{ category.description }}</span>

                    <section fxLayout="row">

                        <span class="icon m-2 has-text-link">
                            <i class="fas {{ this.getIconForCategoryId(category.id) }} fa-2x"></i>
                        </span>

                        <!-- Items list -->
                        <section fxLayout="column" class="pt-2">
                            <ng-container *ngFor="let item of category.items">

                                <div class="item-item">
                                    <span class="ml-2">{{ item.description }}</span>
                                    <span fxFlex class="has-text-right is-size-7">{{ item.total_volume }} (Avg. {{
                                        item.avg_volume }})</span>
                                </div>

                            </ng-container>
                        </section>
                    </section>

                </div>

            </ng-container>

        </section>

        <div class="chart-container is-fullwidth mt-4 is-hidden-mobile" #chartContainerRef>
            <ngx-charts-area-chart-stacked *ngIf="this.chartData" legendPosition="below" [curve]="this.chartCurve" [legend]="true"[gradient]="true" [xAxis]="false" [yAxis]="true" [timeline]="false"
                 [results]="this.chartData">
            </ngx-charts-area-chart-stacked>
        </div>

    </section>
</section>

<div class="container">

    <!-- <section class="section">
        <h1 class="title">Activity</h1>
        <h2 class="subtitle">
            List of your latest consumptions.
        </h2>
    </section> -->

    <section fxLayout="column" class="consumption-container p-4">

        <ng-container *ngFor="let consumption of this.consumptionList.results; let i = index">

            <!-- Display header -->
            <ng-container
                *ngIf="i === 0 || (i > 0 && (consumption.consumed_at.date | amFromUtc | amLocal | amDateFormat:'YYYYDDMM') !== (this.consumptionList.results[i - 1].consumed_at.date | amFromUtc | amLocal | amDateFormat:'YYYYDDMM'))">
                <h2 class="is-size-5 has-text-weight-medium mt-4 mb-2">
                    {{ consumption.consumed_at.date | amFromUtc | amLocal | amDateFormat:'dddd, MMM Do YYYY' }}
                </h2>
            </ng-container>

            <div class="consumption-item" fxLayout="row">

                <span class="icon mr-4 m-2 has-text-link">
                    <i class="fas {{ this.getIconForCategoryId(consumption.attributes.item.item_category_id) }} fa-1x"></i>
                </span>

                <span>
                    Consumed <strong>{{ consumption.volume }}</strong> of <strong>{{ consumption.attributes.item.description }}</strong> ({{ consumption.consumed_at.date | amFromUtc | amLocal | amDateFormat:'h:mm a' }})
                </span>
            </div>

        </ng-container>
    </section>
</div>