.avatar, .avatar-hover {
    width: 128px;
    max-width: 128px;
    height: 128px;
    max-height: 128px;
    cursor: pointer;
}

.avatar-hover {
    position: absolute;
    background: rgba(255,255,255, 0.4);
}

.details {
    width: 100%;
    max-width: 600px;
}