<!-- <section class="section">
    <h1 class="title">Profile</h1>
    <h2 class="subtitle">
        Manage your profile and account settings.
    </h2>
</section> -->

<section fxLayout="row" fxLayout.lt-sm="column">

    <section fxFlex="180px" fxFlex.lt-sm="100%" fxLayoutAlign.lt-sm="center center">

        <section class="p-4" fxLayout="column" fxLayoutAlign="center center" style="position: relative;" (click)="this.onChangeAvatar()" (mouseenter)="this.isHoveringAvatar = true" (mouseleave)="this.isHoveringAvatar = false">

            <img class="avatar" [src]="this.authUser.attributes.avatar">

            <div class="avatar-hover" fxLayout="column" fxLayoutAlign="center center" *ngIf="this.isHoveringAvatar">
                <span class="icon"><i class="fas fa-camera fa-2x"></i></span>
            </div>

        </section>
    </section>

    <section fxLayout="column" class="details p-4" fxFlex.lt-sm="100%">
        <form [formGroup]="this.formUser">
            <section class="mb-2" fxLayout="row" fxLayoutAlign="flex-start center">
                <h2 fxFlex class="subtitle mb-0">Contact</h2>
                <button *ngIf="!this.isEditing && !this.isSavedState" (click)="this.isEditing = true"
                    class="button is-link is-inverted">
                    <span>Edit</span>
                </button>
                <button *ngIf="this.isEditing || this.isSavedState" [disabled]="this.isSavedState"
                    (click)="this.onSaveChanges()" class="button"
                    [ngClass]="{ 'is-loading': this.isLoading, 'is-link': !this.isSavedState, 'is-success': this.isSavedState, 'is-inverted': this.isSavedState || this.isLoading }">
                    <ng-container *ngIf="!this.isSavedState else savedState">
                        <span>Save</span>
                    </ng-container>
                    <ng-template #savedState>
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>Saved</span>
                    </ng-template>
                </button>

            </section>



            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">First name</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" [ngClass]="{'is-static': !this.isEditing}" name="first_name"
                                type="text" formControlName="first_name" (change)="this.hasChanged = true;"
                                [readonly]="this.isEditing ? false : true" placeholder="First name">
                        </div>
                    </div>
                </div>
            </section>

            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">Last name</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" [ngClass]="{'is-static': !this.isEditing}" name="last_name" type="text"
                                formControlName="last_name" (change)="this.hasChanged = true;"
                                [readonly]="this.isEditing ? false : true" placeholder="Last name">
                        </div>
                    </div>
                </div>
            </section>

            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">Email</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" [ngClass]="{'is-static': !this.isEditing}" name="email" type="email"
                                formControlName="email" (change)="this.hasChanged = true;"
                                [readonly]="this.isEditing ? false : true" placeholder="Email" required>
                        </div>
                        <p *ngIf="this.controlHasError('email') && this.formUser.get('email').hasError('required')"
                            class="help is-danger has-text-left">Oops! Email is required</p>
                        <p *ngIf="this.controlHasError('email') && this.formUser.get('email').hasError('invalid')"
                            class="help is-danger has-text-left">Oops! Email is invalid</p>
                        <p *ngIf="this.controlHasError('email') && this.formUser.get('email').hasError('taken')"
                            class="help is-danger has-text-left">Oops! Email is already in use</p>
                    </div>
                </div>
            </section>



            <section class="mt-4 mb-4" fxLayout="row" fxLayoutAlign="flex-start center">
                <h2 fxFlex class="subtitle mb-0">Preferences</h2>
            </section>

            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">Country</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">

                            <input *ngIf="!this.isEditing" formControlName="country_code" class="input is-static" readonly
                                type="text">

                            <div *ngIf="this.isEditing" class="select is-fullwidth">
                                <select formControlName="country_code" (change)="this.hasChanged = true;">
                                    <option *ngFor="let country of this.countries" [value]="country.iso">{{ country.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">Timezone</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">

                            <input *ngIf="!this.isEditing" formControlName="timezone" class="input is-static" readonly
                                type="text">

                            <div *ngIf="this.isEditing" class="select is-fullwidth">
                                <select formControlName="timezone" (change)="this.hasChanged = true;">
                                    <option *ngFor="let timezone of this.timezones | filter:'country_code':this.formUser.controls.country_code.value" [value]="timezone.timezone">{{ timezone.timezone }} (DST {{ timezone.dst_offset }} | GMT {{ timezone.gmt_offset }})</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section fxLayout="row" [ngClass]="{'mb-2': this.isEditing }" fxLayoutAlign="center center">
                <div fxFlex="128px" class="field-label">
                    <label class="label has-text-left">Unit of measure</label>
                </div>
                <div fxFlex class="field-body">
                    <div class="field">
                        <div class="control">

                            <input *ngIf="!this.isEditing" formControlName="units" class="input is-static" readonly
                                type="text">

                            <div *ngIf="this.isEditing" class="select is-fullwidth">
                                <select formControlName="units" (change)="this.hasChanged = true;">
                                    <option value="Metric">Metric (Eg. 230 ml)</option>
                                    <option value="Imperial" disabled>Imperial (Eg. 8 oz)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-4 mb-4" fxLayout="row" fxLayoutAlign="flex-start center">
                <h2 fxFlex class="subtitle mb-0">Account</h2>
            </section>

            <button disabled class="button is-link is-block is-inverted has-text-left mb-2">
                <span class="icon">
                    <i class="fas fa-key"></i>
                </span>
                <span>Change password</span>
            </button>

            <button disabled class="button is-link is-block is-inverted has-text-left mb-2">
                <span class="icon">
                    <i class="fas fa-file-export"></i>
                </span>
                <span>Export data</span>
            </button>

            <button (click)="this.onLogout()" class="button is-link is-block is-inverted has-text-left mb-2">
                <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Logout</span>
            </button>

        </form>


    </section>
</section>


<!-- Watchamacallit, the thing to switch from metric to .. ( ML / OZ) -->
<!-- Maybe timezone info -->