<section class="hero is-fullheight">
    <div class="hero-body" fxLayout="column" fxLayoutAlign="center center">

        <div class="login card has-text-centered p-4">
            <img src="/assets/icons/icon-96x96.png" style="border-radius: 50%;" width="auto" height="96px" />

            <ng-container *ngIf="!this.hasResetSent else hasReset">

                <form [formGroup]="this.formReset" class="mt-4">

                    <div *ngIf="this.error" class="notification is-danger is-light mt-4">
                        <span class="is-size-7">{{ this.error }}</span>
                    </div>

                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" [ngClass]="{'is-danger': this.controlHasError('password') }"
                                type="password" formControlName="password" name="password" placeholder="Password"
                                autocomplete="new-password" required />
                            <span class="icon is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <span *ngIf="this.controlHasError('password')" class="icon is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p *ngIf="this.controlHasError('password') && this.formReset.get('password').hasError('required')"
                            class="help is-danger has-text-left">Oops! Password is required</p>
                    </div>

                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" [ngClass]="{'is-danger': this.controlHasError('confirm_password') }"
                                type="password" formControlName="confirm_password" name="confirm_password"
                                placeholder="Confirm password" autocomplete="new-password" required />
                            <span class="icon is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <span *ngIf="this.controlHasError('confirm_password')" class="icon is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p *ngIf="this.controlHasError('confirm_password') && this.formReset.get('confirm_password').hasError('required')"
                            class="help is-danger has-text-left">Oops! Password confirmation is required</p>
                        <p *ngIf="this.controlHasError('confirm_password') && this.formReset.get('confirm_password').hasError('noMatch')"
                            class="help is-danger has-text-left">Oops! Passwords do not match</p>
                    </div>

                    <button (click)="this.onReset()" class="button is-block is-fullwidth is-link mt-4"
                        [ngClass]="{'is-loading': this.isLoading}" type="button">
                        Reset password
                    </button>
                </form>

            </ng-container>

            <ng-template #hasReset>
                <div class="notification is-success is-light mt-4">
                    <span class="is-size-7">Your password has been changed! You can now sign in again.</span>
                </div>
            </ng-template>

            <div class="mt-4">
                <a class="is-size-6" [routerLink]="['/sign-in']">Return to sign in</a>
            </div>
        </div>
    </div>
</section>